@font-face {
    font-family: 'Helvetica Rounded LT Std';
    src: url('HelveticaRoundedLTStd-Bd.woff2') format('woff2'),
        url('HelveticaRoundedLTStd-Bd.woff') format('woff'),
        url('HelveticaRoundedLTStd-Bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

